<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-observability-base.xml"/>

    <springProfile name="local,default,standalone">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod,staging">
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>
</configuration>
