<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-observability-base.xml"/>

    <springProfile name="default,local,dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="docker,staging,prod">
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>
</configuration>
